<h4>Internal server error - refreshing the page will make the error disappear</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">
        Error: {{error.message}}
    </h5>
    <p class="font-weight-bold">Note: If you are seeing this then angular is probably not so blame</p>
    <p>What to do next?</p>
    <ol>
        <li>Open Chrome dev tools! Then check the failing request in the network tab</li>
        <li>Examine the request URL - What API endpoint are you requesting?</li>
        <li>Reproduce the problem in Postman</li>
    </ol>
    <h5>Following is the stack trace - first few lines will tell you which linke of code </h5>
    <code class="mt-5">
        {{error.details}}
    </code>
</ng-container>